html {
  overflow-y: scroll;
  color: rgb(53,1,14);
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

body {
  font-size: 110%;
}

header {
  background-color: rgb(250,243,212);
  padding: .5em;
  color: rgb(53,1,14);
  border-bottom: 1px solid rgb(230,218,197);
}

header .icon-berlisco-logo {
  display: block;
  width: 9em;
  height: 10em;
  margin: 1em auto;
}

.search-bar, .results {
  width: 70%;
  margin: 0 auto;
  max-width: 800px;
  position: relative;
  padding-bottom: 1em;
}

.tagline {
  position: absolute;
  right: 0;
  text-align: center;
  bottom: -1em;
  font-size: 70%;
  margin: 0;
}

.tagline, .tagline a {
  color: rgb(150,150,150);
}

.tagline .icon-algolia-logo {
  width: 6em;
  height: 1.8em;
  line-height: 1.8em;
}

.search-bar {
  margin-bottom: 1em;
}

.search-bar.pure-form input {
  display: block;
  width: 100%;
  border-radius: 0;
}

.search-bar.pure-form input:focus {
  border-color: rgb(150,150,150);
}

.package {
  padding: 1em 0;
  font-size: 90%;
}

a {
  color: rgb(53,1,14);
}

.results a {
  text-decoration: none;
}

a.name {
  font-weight: bold;
  font-size: 150%;
  color: rgb(168,35,83);
}

a.github-link {
  font-size: 80%;
}

.package h2 {
  margin-top: 0;
}

.package + .package {
  border-top: 1px solid rgb(230,218,197);
}

.metas {
  padding-left: 1em;
}

.icon {
  vertical-align: middle;
}
