.icon {
	display: inline-block;
	color: #000000;
	fill: currentColor;
	background-color: ;
}
.icon-berlisco-logo {
	width: 55px;
	height: 64px;
}
#icon-berlisco-logo .path1 {
	fill: rgb(134, 134, 191);
}
#icon-berlisco-logo .path2 {
	fill: rgb(215, 215, 255);
}
#icon-berlisco-logo .path3 {
	fill: rgb(175, 175, 222);
}
#icon-berlisco-logo .path4 {
	fill: rgb(230, 230, 230);
}
#icon-berlisco-logo .path5 {
	fill: rgb(249, 249, 249);
}
#icon-berlisco-logo .path6 {
	fill: rgb(179, 179, 179);
}
#icon-berlisco-logo .path7 {
	fill: rgb(168, 35, 83);
}
#icon-berlisco-logo .path8 {
	fill: rgb(68, 68, 68);
}
#icon-berlisco-logo .path9 {
	fill: rgb(68, 68, 68);
	opacity: 0.799000024795532;

}
.icon-algolia-logo {
	width: 204px;
	height: 64px;
}
#icon-algolia-logo .path1 {
	fill: rgb(59, 151, 208);
}
#icon-algolia-logo .path2 {
	fill: rgb(85, 86, 86);
}
.icon-browserify-logo {
	width: 55px;
	height: 64px;
}
#icon-browserify-logo .path1 {
	fill: rgb(61, 106, 146);
}
#icon-browserify-logo .path2 {
	fill: rgb(34, 34, 34);
}
#icon-browserify-logo .path3 {
	fill: rgb(61, 106, 146);
}
#icon-browserify-logo .path4 {
	fill: rgb(230, 179, 90);
}
#icon-browserify-logo .path5 {
	fill: rgb(100, 136, 197);
}
#icon-browserify-logo .path6 {
	fill: rgb(200, 220, 235);
}
#icon-browserify-logo .path7 {
	fill: rgb(230, 179, 90);
}
.icon-github-logo {
	width: 55px;
	height: 64px;
}
.icon-grunt-logo {
	width: 55px;
	height: 64px;
}
#icon-grunt-logo .path1 {
	fill: rgb(70, 48, 20);
}
#icon-grunt-logo .path2 {
	fill: rgb(251, 169, 25);
}
#icon-grunt-logo .path3 {
	fill: rgb(231, 135, 36);
}
#icon-grunt-logo .path4 {
	fill: rgb(231, 135, 36);
}
#icon-grunt-logo .path5 {
	fill: rgb(253, 193, 104);
}
#icon-grunt-logo .path6 {
	fill: rgb(251, 169, 25);
}
#icon-grunt-logo .path7 {
	fill: rgb(255, 255, 255);
}
#icon-grunt-logo .path8 {
	fill: rgb(201, 201, 201);
}
#icon-grunt-logo .path9 {
	fill: rgb(70, 48, 20);
}
#icon-grunt-logo .path10 {
	fill: rgb(70, 48, 20);
}
#icon-grunt-logo .path11 {
	fill: rgb(255, 255, 255);
}
#icon-grunt-logo .path12 {
	fill: rgb(201, 201, 201);
}
#icon-grunt-logo .path13 {
	fill: rgb(70, 48, 20);
}
#icon-grunt-logo .path14 {
	fill: rgb(70, 48, 20);
}
#icon-grunt-logo .path15 {
	fill: rgb(231, 135, 36);
}
#icon-grunt-logo .path16 {
	fill: rgb(231, 135, 36);
}
#icon-grunt-logo .path17 {
	fill: rgb(253, 193, 104);
}
#icon-grunt-logo .path18 {
	fill: rgb(251, 169, 25);
}
#icon-grunt-logo .path19 {
	fill: rgb(255, 255, 255);
}
#icon-grunt-logo .path20 {
	fill: rgb(201, 201, 201);
}
#icon-grunt-logo .path21 {
	fill: rgb(70, 48, 20);
}
#icon-grunt-logo .path22 {
	fill: rgb(70, 48, 20);
}
#icon-grunt-logo .path23 {
	fill: rgb(231, 135, 36);
}
#icon-grunt-logo .path24 {
	fill: rgb(70, 48, 20);
}
#icon-grunt-logo .path25 {
	fill: rgb(255, 255, 255);
}
#icon-grunt-logo .path26 {
	fill: rgb(201, 201, 201);
}
#icon-grunt-logo .path27 {
	fill: rgb(70, 48, 20);
}
#icon-grunt-logo .path28 {
	fill: rgb(70, 48, 20);
}
#icon-grunt-logo .path29 {
	fill: rgb(70, 48, 20);
}
#icon-grunt-logo .path30 {
	fill: rgb(70, 48, 20);
}
.icon-gulp-logo {
	width: 55px;
	height: 64px;
}
.icon-npm-logo {
	width: 55px;
	height: 64px;
}
#icon-npm-logo .path1 {
	fill: rgb(134, 134, 191);
}
#icon-npm-logo .path2 {
	fill: rgb(215, 215, 255);
}
#icon-npm-logo .path3 {
	fill: rgb(175, 175, 222);
}
#icon-npm-logo .path4 {
	fill: rgb(230, 230, 230);
}
#icon-npm-logo .path5 {
	fill: rgb(249, 249, 249);
}
#icon-npm-logo .path6 {
	fill: rgb(179, 179, 179);
}
#icon-npm-logo .path7 {
	fill: rgb(203, 56, 55);
}
#icon-npm-logo .path8 {
	fill: rgb(255, 255, 255);
}
#icon-npm-logo .path9 {
	fill: rgb(203, 56, 55);
}
