html {
  overflow-y: scroll;
  color: rgb(53,1,14);
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

body {
  font-size: 110%;
}

a {
  color: rgb(53,1,14);
}

.icon {
  vertical-align: middle;
}

.hide {
  display: none;
}

.site-header {
  background-color: rgb(250,243,212);
  padding: .5em;
  color: rgb(53,1,14);
  border-bottom: 1px solid rgb(230,218,197);
}

.site-header .icon-berlisco-logo {
  display: block;
  width: 9em;
  height: 10em;
  margin: 1em auto;
}

.tagline {
  position: absolute;
  right: 0;
  text-align: center;
  bottom: 0;
  font-size: 50%;
  margin: 0;
  display: flex;
  color: rgb(150,150,150);
  line-height: 1.8em;
  height: 1.8em;
}

.tagline .icon-algolia-logo {
  width: 6em;
  height: 1.8em;
}

.tagline .icon-npm-logo {
  width: 5.5em;
  height: 1.8em;
}

.search-bar, .results {
  width: 70%;
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}

.search-bar {
  padding-bottom: 1em;
}

.search-bar.pure-form input {
  display: block;
  width: 100%;
  border-radius: 0;
}

.search-bar.pure-form input:focus {
  border-color: rgb(150,150,150);
}

.results {
  padding-top: 1em;
}

.results a {
  text-decoration: none;
}

.package {
  padding: 1em 0;
  font-size: 90%;
}

.package header {
  display: flex;
  height: 2em;
  line-height: 2em;
}

.package header .name {
  font-weight: bold;
  font-size: 170%;
  color: rgb(168,35,83);
  margin-left: .5em;
}

.package header .icon {
  width: 2em;
  height: 2em;
  margin-right: .5em;
}

.package h2 {
  margin-top: 0;
}

.package + .package {
  border-top: 1px solid rgb(230,218,197);
}

.package .metas {
  padding-left: 1em;
}

.disabled {
  opacity: .3;
  cursor: default;
  pointer-events: none;
}
