html {
  overflow-y: scroll;
  color: rgb(53,1,14);
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

a {
  color: rgb(53,1,14);
}

.icon {
  vertical-align: middle;
}

.hide {
  display: none;
}

.site-header {
  background-color: rgb(250,243,212);
  padding: .5em;
  color: rgb(53,1,14);
  border-bottom: 1px solid rgb(230,218,197);
}

.site-header .icon-berlisco-logo {
  display: block;
  width: 5em;
  height: 6em;
  margin: 1em auto;
}

.tagline {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 50%;
  margin: 0;
  display: flex;
  color: rgb(150,150,150);
  line-height: 1.8em;
  height: 1.8em;
}

.tagline .icon-algolia-logo {
  width: 6em;
  height: 1.8em;
}

.tagline .icon-npm-logo {
  width: 5.5em;
  height: 1.8em;
}

.loader {
  margin: 1em auto;
  width: 3em;
}

.loader .icon {
  color: rgb(168,35,83);
  width: 3em;
  height: 3em;
}

.search-bar {
  padding-bottom: 1.5em;
}

.search-bar, .results {
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}

.search-bar.pure-form input {
  display: block;
  width: 100%;
  border-radius: 0;
}

.search-bar.pure-form input:focus {
  border-color: rgb(150,150,150);
}

.results {
  padding-top: 1em;
}

.results a {
  text-decoration: none;
}

.package {
  padding: 1em 0;
  font-size: 90%;
}

.package header {
  display: flex;
  min-height: 2em;
  line-height: 2em;
  font-size: 90%;
}

.package header .name {
  font-weight: bold;
  font-size: 150%;
  color: rgb(168,35,83);
  margin-left: .2em;
}

.package header a {
  margin-right: .2em;
}

.package header .icon {
  width: 1.5em;
  height: 1.5em;
}

.package + .package {
  border-top: 1px solid rgb(230,218,197);
}

.package .metas {
  padding-left: 1em;
}

.disabled {
  opacity: .3;
  cursor: default;
  pointer-events: none;
}

/* screen >= 568px */
@media all and (min-width: 35.5em) {
  .tagline {
    font-size: 60%;
  }

  .search-bar {
    padding-bottom: 1.5em;
  }
}

